[submodule "isaac_so_arm101"]
	path = isaac_so_arm101
	url = https://github.com/MuammerBay/isaac_so_arm101.git
[submodule "mimic-video"]
	path = mimic-video
	url = https://github.com/SamuelFoo/mimic-video
[submodule "cosmos-predict2.5"]
	path = cosmos-predict2.5
	url = https://github.com/pectumesor/cosmos-predict2.5.git
[submodule "mimic-video-so101"]
	path = mimic-video-so101
	url = git@github.com:pectumesor/mimic-video-so101.git
